.layout-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.white-box {
  width: 63%;
  height: 83vh;
  background-color: rgba(255, 255, 255, 0.705);
  overflow-y: auto;
  padding: 2rem;
  backdrop-filter: blur(0.4em);
  scrollbar-width: none;
}

@media (max-width: 1024px) {
  .white-box {
    width: 70%;
    padding: 1rem;
  }

  .content-wrapper {
    gap: 10px;
    margin-inline: 10px;
  }
}

@media (max-width: 768px) {
  .white-box {
    width: 100%;
  }

  .content-wrapper {
    margin-inline: unset;
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  .white-box {
    width: 100%;
    height: 100%;
  }

  .content-wrapper {
    gap: 0px;
  }
}
