.about-page_content {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
  gap: 30px;
  margin-inline: 41px;
}

.about-page_content img {
  height: 536px;
}
