* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
}

.page_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-letter {
  color: #f5a525;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
