.projects-page_content {
  justify-content: start !important;
  gap: 50px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 20px;
  margin-right: 10px;
}

card {
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 533px;
}

.projects-page_content img {
  height: 280px;
  width: 356px;
  object-fit: cover;
  object-position: top;
}

.card-infos {
  margin-block: 25px;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

card h2 {
  font-family: "Montaga", serif;
  font-weight: 500;
  font-size: 1.7em;
}

.card_text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

card button {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  cursor: pointer;
  border: none;
  width: 24%;
  padding: 7px;
  transition: all 0.3s ease-in-out;
}

card button:hover {
  background-color: #b9b9b9;
}

.card_orange-border_wrapper {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -4px;
  left: 0px;
}

.card_orange-border {
  display: block;
  height: 9px;
  width: 65%;
  background-color: #ffc059;
}

/*SCROLLBAR*/

.projects-page_content {
  display: flex;
  gap: 50px;
  overflow-x: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

/* Chrome, Edge, Safari */
.projects-page_content::-webkit-scrollbar {
  height: 8px;
}

.projects-page_content::-webkit-scrollbar-track {
  background: transparent;
}

.projects-page_content::-webkit-scrollbar-thumb {
  background-color: #888;
  transition: background-color 0.3s;
}

.projects-page_content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
