.service-page_content {
  flex-direction: column;
  display: flex;
  justify-content: start;
  gap: 17%;
}

.service-page_content::before {
  content: "";
}

.service_card p:nth-child(odd) {
  background-color: #f5f5f5;
  width: 85%;
}

.service_card_title_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.orange-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5a525;
  height: 27px;
  width: 27px;
}

.service_card h2 {
  text-align: center;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  background-color: white;
  padding: 7px;
}

.services_wrapper {
  position: relative;
  width: 100%;
  background-color: white;
  padding-block: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border-bottom: solid 8px #f5a525;
}

.service_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.service_card p {
  font-size: 1.4em;
  padding: 10px 5px;
  line-height: 1.4;
  font-family: "Montaga", serif;
}

.service_cta_button {
  transform: translateY(20px);
  font-family: "Montserrat", sans-serif;
  padding: 5px 8px;
  background-color: #f5a525;
  color: white;
  transition: all 0.3s ease-in-out;
}

.service_cta_button:hover {
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.616);
}

/* Tablettes en mode paysage */
@media (min-width: 600px) and (max-width: 1366px) and (orientation: landscape) {
  .services_wrapper {
    min-height: unset;
  }

  .service_card {
    width: 80%;
  }

  .service_card p {
    font-size: 1.1em;
  }

  .service_cta_button {
    transform: translateY(25px);
  }
}

@media (max-width: 1250px) {
  .service-page_content {
    align-items: center;
    padding-left: unset;
  }
}

@media (max-width: 880px) {
  .service_card {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .service_card {
    width: 90%;
  }

  .service_card p {
    font-size: 1em;
  }

  .service-page_content {
    gap: 100px;
  }
}
