---
import Layout from "../components/Layout.jsx";
import "../styles/a-propos.css";
import Navbar from "../components/Navbar.jsx";
import Head from "./_head.astro";
---

<Head
  title="Portfolio | À Propos"
  description="Je suis Line Ibo, et je crée des sites vitrines modernes pour booster votre visibilité en ligne."
>
  <div class="content-wrapper">
    <Navbar client:only="react" currentPath={Astro.url.pathname} />
    <Layout>
      <div class="page_content about-page_content">
        <h1 class="sr-only">À Propos</h1>
        <p>
          Je suis Line Ibo, développeuse web spécialisée dans la création de
          sites vitrines modernes et accessibles. <br /><br /> Formée en intégration
          web (HTML, CSS, JavaScript) et en design d’interfaces avec Figma, j’allie
          technique et créativité pour concevoir des sites adaptés à votre activité.<br
          /><br />Mon objectif est de proposer des sites simples, professionnels
          et abordables, pour les petites entreprises ou indépendants qui
          souhaitent être visibles sur le web.<br /><br /> Vous souhaitez un site
          clair, moderne et à votre image ? Discutons de vos besoins et construisons-le
          ensemble.
        </p>
        <img
          src="/images/portrait.png"
          alt="Portrait de Line Ibo"
          loading="lazy"
        />
      </div>
    </Layout>
  </div>
</Head>
