---
import Layout from "../components/Layout.jsx";
import SkillsBar from "../components/SkillsBar.jsx";
import Navbar from "../components/Navbar.jsx";
import Head from "./_head.astro";

const skillsInfos = [
  { name: "Design et maquette", progress: "80%" },
  { name: "Intégration de maquette", progress: "86%" },
  { name: "Fonctionnalités complexes", progress: "50%" },
  { name: "Référencement Google et SEO", progress: "70%" },
];
---

<Head
  title="Portfolio | Compétences"
  description="Découvrez mes compétences en développement web et création de sites vitrines modernes et optimisés SEO."
>
  <div class="content-wrapper">
    <Navbar client:only="react" currentPath={Astro.url.pathname} />
    <Layout>
      <div class="page_content skills-page_content">
        <h1 class="sr-only">Compétences</h1>
        {
          skillsInfos.map((skill, i) => (
            <div class="skill_wrapper">
              <h2>{skill.name}</h2>
              <SkillsBar client:load progress={skill.progress} index={i} />
            </div>
          ))
        }
      </div>
    </Layout>
  </div>
</Head>
