---
import Layout from "../components/Layout.jsx";
import services from "../data/services.json";
import Navbar from "../components/Navbar.jsx";
import "../styles/services.css";
import HeadMeta from "../components/HeadMeta.jsx";
import HorizontalScroll from "../components/HorizontalScroll";
---

<head>
  <HeadMeta />
</head>
<div class="content-wrapper">
  <Navbar client:only="react" currentPath={Astro.url.pathname} />
  <Layout>
    <h1 class="sr-only">Services</h1>
    <div class="page_content service-page_content">
      {
        services.map((servicePack) => (
          <card class="service_card">
            <div class="service_card_title_wrapper">
              <div class="orange-box_wrapper">
                {" "}
                <span class="orange-box">
                  <img
                    src="/images/arrow.png"
                    alt="fléche blanche pointant vers le bas"
                  />
                </span>
              </div>
              <h2>{servicePack.title}</h2>
            </div>
            <div class="services_wrapper">
              {Object.values(servicePack.services).map((s) => (
                <p>{s}</p>
              ))}{" "}
              <a
                href={`/contact?objet=Devis&forfait=${servicePack.slug}`}
                class="service_cta_button"
              >
                Demander un devis
              </a>
            </div>
          </card>
        ))
      }
    </div>
  </Layout>
</div>
