---
import Layout from "../components/Layout.jsx";
import "../styles/a-propos.css";
const currentPath = Astro.url.pathname;
import services from "../data/services.json";
import "../styles/services.css";
---

<Layout currentPath={currentPath}>
  <div class="page_content service-page_content">
    <h1 class="sr-only">Services</h1>
    {
      services.map((servicePack) => (
        <card class="service_card">
          <div class="service_card_title_wrapper">
            <div class="orange-box_wrapper">
              {" "}
              <span class="orange-box">
                <img
                  src="/images/arrow.png"
                  alt="fléche blanche pointant vers le bas"
                />
              </span>
            </div>
            <h2>{servicePack.title}</h2>
          </div>
          <div class="services_wrapper">
            {Object.values(servicePack.services).map((s) => (
              <p>{s}</p>
            ))}{" "}
            <a
              href={`/contact?raison=devis&forfait=${servicePack.slug}`}
              class="service_cta_button"
            >
              Demander un devis
            </a>
          </div>
        </card>
      ))
    }
  </div>
</Layout>
